<div class="container">
	<div class="row">
		<form>
			<div class="input-group">
				<input type="text" class="form-control"
					placeholder="Search by brand" ng-model="brand">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="listCtrl.search(brand)">
						<span class="glyphicon glyphicon-search">
					</button>
				</div>
			</div>
		</form>
		<a class="btn btn-secondary" href="#!newCar">Add Car</a>
	</div>
	
	<div class="row">
		<h2>All cars</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Brand</th>
					<th>Model</th>
					<th>Price</th>
					<th>Description</th>
					<th>Details</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="car in listCtrl.cars">
					<td>{{car.brand}}</td>
					<td>{{car.model}}</td>
					<td>{{car.price}}</td>
					<td>{{car.description}}</td>
					<td><a ng-href="#!details/{{car.id}}">Details</a></td>
					<td><a class="btn btn-secondary" href="#!editCar/{{car.id}}">Edit</a><a class="btn btn-secondary" href="">Rent</a><a class="btn btn-secondary" href="">Remove</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>